.playlist-list-wrapper {
  display: grid;
  grid-template: 25vh / auto auto auto;
  gap: 1rem;
  min-height: 80vh;
  height: fit-content;
  width: fit-content;
  align-items: start;
  justify-items: center;
}

.playlist-list-element {
  border-radius: 0.25rem;
  outline: solid 0.15rem var(--accent-color);
  width: 25vh;
  height: 25vh;
  list-style-type: None;
  cursor: pointer;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-image {
  object-fit: contain; /* Crops the image to fill the square dimensions of its container */
  margin: 0;
  height: 85%;
  width: 100%;
}

.playlist-text-wrapper {
  height: 10%;
  margin: 0;
  height: 15%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.playlist-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.playlist-text-wrapper:hover {
  background-color: var(--gray-color);
}

.playlist-edit-input {
  width: 100%;
}

.playlist-loading {
  outline: solid 0.15rem var(--accent-color);
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;
}

.playlist-loading:hover {
  background-color: var(--dark-blue-color);
}

.plus-icon {
  font-size: 1.5rem;
}

.create-playlist-button {
  color: var(--dark-blue-color);
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.25rem;
  border-radius: 0.35rem;
  background-color: var(--text-color);
}

.create-playlist-button:hover {
  box-shadow: 0 0 0.1rem 0.25rem var(--accent-color);
  border-radius: 0.35rem;
}
