:root {
  --primary-color: #0f172a;
  --secondary-color: #1f2937;
  --accent-color: rgba(126, 63, 242, 0.5);
  --text-color: #eef2ff;
  --subtext-color: #d4d4d8;
}

.nav-bar {
  display: flex;
  justify-content: space-between; /* Distributes space between items (start, middle, end) */
  align-items: center; /* Vertically aligns items in the center */
  padding: 0;
  list-style-type: none; /* Removes default list styling */
  margin: 0.5rem 0 0 0;
  width: 100%; /* Ensures nav-bar spans the full width */
  height: 4rem;
  background-color: var(--primary-color);
  padding: 1rem;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;
  z-index: 5;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  background-color: var(--text-color);
  color: var(--primary-color);
  border-radius: 2rem;
  border: none;
  transition: all 0.15s ease;
  cursor: pointer;
  font-weight: 900;
  position: relative;
}

.dropdown {
  background-color: var(--text-color);
  border-radius: 1rem;
  margin: 0;
  position: absolute;

  z-index: 1;
  display: none;

  top: 100%; /* Moves it directly below the button */
  white-space: nowrap;
  cursor: pointer;
}

.center {
  position: absolute;
  transition: 0.3s;
}

.dropdown-element {
  color: var(--primary-color);
  padding: 1rem;
  margin: 0;
  display: block;
  border-radius: 1rem;
}

.dropdown-element:hover {
  background-color: var(--accent-color);
}

.dropdown-text {
  color: var(--primary-color);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dropdown-text-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.active {
  display: block;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: top;
  position: relative;
}

.rotate {
  transform: rotate(90deg);
}
